/* *{border: solid 1px red} */

aside{
    background-color: aliceblue;
    height: 100vh;
}
section{
    background: #f6f6f6;
    height: 100vh;
}
header {
    width: 100%;
}

#city,#date,#weather-icon {
    padding-right: .75em;
}
#weather-icon{
    color: #0E6EFC;
    font-size: 2.5rem;
}
.fas {
    font-size: 1.75rem;
}
.col-md-3 {
    background-color: aliceblue;
}
.city-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
