/* *{border: solid 1px red} */

/* ### ELEMENTS ### */
aside{
    background-color: aliceblue;
    height: 100vh;
}
section{
    background: #f6f6f6;
    height: 100vh;
}
header {
    width: 100%;
}

/* ### IDS ### */
#city,#date,#weather-icon {
    padding-right: .75em;
}
#weather-icon{
    background: #ccc;
    border-radius: 35px;
    padding-right: 0;
}

/* ### CLASSES ### */
.fas {
    font-size: 1.75rem;
}
.col-md-3 {
    background-color: aliceblue;
}
.city-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.btn-orange{
    background-color: var(--bs-orange);
}
.btn-yellow{
    background-color: var(--bs-yellow);
}
.btn-purple{
    background-color: var(--bs-purple);
}
.btn-uvi:hover{
    background: none;
    border: solid 1px black;
    color: black;
    cursor: none;
}