/* *{border: solid 1px red} */

aside{
    background-color: aliceblue;
    height: 100vh;
}
section{
    background: #f6f6f6;
    height: 100vh;
}
header {
    width: 100%;
}

.col-md-3 {
    background-color: aliceblue;
}